<div class="row container d-flex align-items-center justify-content-center text-center">
  <h1>Bienvenue <span style="color:#ff60aa"><%= @first_name %></span> !</h1>
    <% if @first_name != nil%>
      <h3>On dirait bien que tu as fourré ton nez là où il fallait...</h3>
    <%end%>
</div>
