<div class="py-5 team">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 text-center">
        <h1 class="mb-3">La Gossip Team</h1>
        <h6 class="subtitle">qui enregistre et vérifie chacune de vos informations !</h6>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 mb-4">
        <div class="card-home">
          <%= image_tag('1.jpg', class: 'card-img-top', alt: "Photo de Hugo Lesbonstuyaux") %>
          <div class="card-body text-center">
            <h5 class="mt-4 font-weight-medium mb-0" style="color: #ff60aa;">Hugo Lesbonstuyaux</h5>
            <h4 class="subtitle mb-3">Expert en informations</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card-home">
          <%= image_tag('2.jpg', class: 'card-img-top', alt: "Photo de Lexa Minatrice") %>
          <div class="card-body text-center">
            <h5 class="mt-4 font-weight-medium mb-0" style="color: #ff60aa;">Lexa Minatrice</h5>
            <h4 class="subtitle mb-3">Vérificatrice d'exactitude</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="card-home">
          <%= image_tag('3.jpg', class: 'card-img-top', alt: "Photo de Lara Clette") %>
          <div class="card-body text-center">
            <h5 class="mt-4 font-weight-medium mb-0" style="color: #ff60aa;">Lara Clette</h5>
            <h4 class="subtitle mb-3">Cuisinière en chef</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 text-center">
        <h6 class="subtitle">Ne soyez pas trop jaloux de notre dream team !</h6>
      </div>
    </div>
  </div>
</div>
