<h1 class="text-center">Bienvenue sur <span style="color: #ff60aa;">The Gossip Project</span></h1>
<p class="mb-5 text-center" style="color: black;">Parcours le mur des <span style="color: #ff60aa;">gossips</span> pour voir les dernières nouveautés</p>

<div class="container">
  <div class="row justify-content-center mb-5">
    <% @cities.each do |city| %>
      <div class="card mb-3 mx-4 card-home" style="width: 17rem;">
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title" style="color: #ff60aa;"><%= city.name %></h5>
          <p class="card-text"><em><%= city.id %></em></p>
          <div class="mt-auto text-center">
            <a href="<%= city_path(city.id) %>" class="btn btn-primary">Voir la ville</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>